CLOUDINARY_CLOUD_NAME='your cloudinary cloud name'
CLOUDINARY_API_KEY='your cloudinary api key'
CLOUDINARY_API_SECRET='your cloudinary secret key'
ADMIN_PASSWORD='admin page password'
MONGODB_URI='your MongoDB connection string'
API_KEY='header api key to enable access to pages'