.navbar {
    max-width: 100vw;
    position: relative;
    background: rgba(51, 51, 51, 0.9);
    display: flex;
    align-items: left;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1002;
    height: fit-content;
    max-height: fit-content;
}

.navbar ul {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-links ul{
    align-items: left;
}

.nav-links li {
    padding: 10px;
}

.nav-links li a {
    font-family: 'Tangerin', cursive;
    font-size: 1rem;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1rem;
    transition: color 0.3s ease-in-out;
}

.nav-links li a.active {
    color: gold;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 5px;
}

.nav-links li a i {
    display: none;
    margin-right: 5px;
}

.nav-links li a.active i {
    display: inline-block;
}

.nav-links li a:hover {
    color: #ff9800;
}

@media (min-width: 601px) and (max-width: 1024px){
    .navbar{
        flex-direction: column;
        padding: 120px;
        justify-content: center;
        height: fit-content;
        max-height: fit-content;
    }

    .nav-links {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        gap: 15px;
    }

    .nav-links li a:hover {
        color: #ff9800;
    }
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        padding: 8px;
        height: fit-content;
        max-height: fit-content;
    }

    .nav-links {
        flex-wrap: wrap;
        gap: 10px;
        font-size: 0.9rem;
    }

    .nav-links li a:hover {
        color: #ff9800;
    }
}

@media (min-width: 1025px) {
    .navbar {
        flex-direction: column;
        padding: 8px;
        height: fit-content;
        max-height: fit-content;
    }
}